.resturant-constainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.resturant-card {
  width: 350px;
  transition: all 0.15s;
  align-self: self-start;
  border: 2px solid #535353;
  border-radius: 5px;
}

.resturant-card:hover {
  box-shadow: 0 0 5px 0.5px #fffefe;
}

.card {
  padding: 20px;
}
.card img {
  width: 100%;
}

.card-details {
  margin-top: 15px;
}
.card-details h2 {
  margin-bottom: 10px;
}

.food-rating {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

/* 
.food-rating {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ratings {
  color: #fff;
  display: inline-flex;
  padding: 5px 7px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
}

.avg {
  background: #db7c38;
}

.good {
  background: forestgreen;
}
 */
